.datawrapper {
  margin-top: 2rem;
  width: 630px;
  height: 350px;
  box-shadow: 0 0 1px rgba(69, 104, 86, 0.63);
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.topcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 2rem;
}

.topcontainer h4, .topcontainer select, .container h1 {
  color: rgb(67, 121, 168);
}

.topcontainer select {
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid rgb(67, 121, 168);
  background-color: #fff;
  border-radius: 5px;
}